.grid {
    display: grid;
    gap: 16px;
    margin-top: 20px;
  }
  

  .grid.odd {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  

  .grid.even {
    grid-template-columns: 50% 50%;
  }
  
  /* cards */
  .card {
    background: #e6eef7;
    padding: 8px;
    border-radius: 10px;
  }
  
  .card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  
  .grid.odd .card:only-child {
    grid-column: 1 / -1;
  }
  
  .grid.odd .card:only-child img {
    height: 420px;
    object-fit: contain;
  }
  .navbar {
    background-color: #222;
    padding: 12px;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

  