<html>
<head>
    <title>Upload Images</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>

    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add">Add</a></li>
        </ul>
    </nav>

    <h2>Upload image(s)</h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div id="images">
            <div>
                <input type="file" name="images" accept="image/*" required>
            </div>
        </div>
        <br>
        <button type="button" onclick="addMore()">Add more</button>
        <button type="submit">Upload</button>
    </form>
<script src="/static/script.js"></script>

</body>
</html>
