name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repo
      - name: Checkout code
        uses: actions/checkout@v4

      # Setup Python env
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13.3' 

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flask pytest

      # Run tests
      - name: Run tests
        run: |
          cd sample-app
          pytest tests --maxfail=1 --disable-warnings -q
          
        # Enable auto-merge for PRs
      - name: Enable auto-merge
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          merge-method: squash
